<nav class="sidebar close">
    <header>
      <div class="image-text">
        <span class="image">
          <img src="#" alt="">
        </span>

        <div class="text logo-text">
          <span class="name">Admin</span>
          <span class="profession">Web developer</span>
        </div>
      </div>

      <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
      <div class="menu">

<!--         <li class="search-box">
          <i class='bx bx-search icon'></i>
          <input type="text" placeholder="Search Ganes...">
        </li> -->

        <ul class="menu-links">
          <li class="nav-link <% if(current==="dashboard"){ %>highlight <% } %>">
            <a href="/admin/dashboard">
              <i class='bx bx-home-alt icon'></i>
              <span class="text nav-text">Dashboard</span>
            </a>
          </li>

          <li class="nav-link <% if(current==="user"){ %>highlight <% } %>">
            <a href="/admin/user">
              <i class='bx bx-user icon'></i>
              <span class="text nav-text">User</span>
            </a>
          </li>

          <li class="nav-link <% if(current==="category"){ %>highlight <% } %>">
            <a href="/admin/category">
              <i class='bx bx-folder icon'></i>
              <span class="text nav-text">Category</span>
            </a>
          </li>

          <li class="nav-link <% if(current==="product"){ %>highlight <% } %>">
            <a href="/admin/product">
              <i class='bx bx-basket icon'></i>
              <span class="text nav-text">Product</span>
            </a>
          </li>

          <li class="nav-link <% if(current==="order"){ %>highlight <% } %>">
            <a href="/admin/order">
              <i class='bx bx-shopping-bag icon'></i>
              <span class="text nav-text">Order</span>
            </a>
          </li>

          <li class="nav-link <% if(current==="sales"){ %>highlight <% } %>">
            <a href="/admin/sales">
              <i class='bx bxs-report icon'></i>
              <span class="text nav-text">Sales Report</span>
            </a>
          </li>

          <li class="nav-link <% if(current==="coupon"){ %>highlight <% } %>">
            <a href="/admin/coupon">
              <i class='bx bxs-coupon icon'></i>
              <span class="text nav-text">Coupons</span>
            </a>
          </li>

          <li class="nav-link <% if(current==="chat"){ %>highlight <% } %>">
            <a href="/admin/chat">
              <i class='bx bxs-chat icon'></i>
              <span class="text nav-text">Live Support</span>
            </a>
          </li>

        </ul>
      </div>

      <div class="bottom-content">
        <li class="">
          <form action="/admin/logout" method="post">
              <button>
                <i class='bx bx-log-out icon'></i>
              <span class="text nav-text">Logout</span>
            </button>  
          </form>

<!--         <li class="mode">
          <div class="sun-moon">
            <i class='bx bx-moon icon moon'></i>
            <i class='bx bx-sun icon sun'></i>
          </div>
          <span class="mode-text text">Dark mode</span>

          <div class="toggle-switch">
            <span class="switch"></span>
          </div>
        </li> -->

      </div>
    </div>

  </nav>