<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  
    <!-- Bootstrap link -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Stylesheet -->

    <link rel="stylesheet" href="/css/user/userprofile.css">

    <!-- Boxicon-icons  -->

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <style>
      .mainheading{
        background-image: url('/images/user/profile-background.jpg');
        background-size: cover;
        background-position: center;
      }
      .padding{
        height: 1rem;
      }
      .invalid-feedback {
            display: none;
      }
      .is-invalid + .invalid-feedback {
            display: block;
      }
      .bx.bx-chevron-right.toggle {
      display: none;
      }
      .transaction{
        background-color: #1e2124;
        width: 60%;
        height: 60vh;
        overflow-y: auto;
        box-shadow: inset 0 0 10px rgb(255, 255, 255);
        border-radius: 5px;
      }
      .transaction h2{
        margin: 30px 0;
      }
      ::-webkit-scrollbar-track {
      background-color: #000000; /* Color of the scrollbar track */
      }
      ::-webkit-scrollbar {
          width: 10px; /* Width of the scrollbar */
      }
      ::-webkit-scrollbar-thumb {
          background-color: #494747; /* Color of the scrollbar thumb */
          border-radius: 6px; /* Rounded corners of the scrollbar thumb */
      }
      .message-style{
        border: 2px solid rgba(102, 51, 153, 0.384);
        background-color: rgba(102, 51, 153, 0.186);
        border-radius: 10px;
        display: flex;
      }
      .message-style p{
        padding: 0;
        margin: 0;
      }
      .form-container{
        display: flex;
        justify-content: center;
      }
      .form-container form{
        width: 60%;
      }
      .form-container form input{
        width: 86%;
        margin-right: 2%;
        border-radius: 10px;
        background-color: #1e2124;
        color: white;
      }

      @media screen and (max-width: 600px) {
        .bx.bx-chevron-right.toggle {
        display: block;
        }
      }
      input:-webkit-autofill,
      input:-webkit-autofill:hover, 
      input:-webkit-autofill:focus, 
      input:-webkit-autofill:active{
          -webkit-background-clip: text;
          -webkit-text-fill-color: #ffffff;
          transition: background-color 5000s ease-in-out 0s;
          box-shadow: inset 0 0 20px 20px #23232329;
      }
    </style>
    
</head>
<body>
  <body>

    <header class="header">

        <div class="navbar">
          <a href="/">Home</a>
          <a href="/product-list/list">Products</a>
        </div>
        <div class="search-bar-container">
          <form action="/product-list/search" method="get" class="search-bar">
            <input type="text" placeholder="Search..." name="search" id="search">
            <button type="submit"><box-icon name='search'><i class='bx bx-search'></i></button>
          </form>
        <div class="right_navbar">
          <a href="/user/wishlist"><i class='bx bx-heart'></i></a>
          <a href="/user/cart"><i class='bx bx-cart'></i></a>
          <a href="/user/profile"><i class='bx bx-user'></i></a>
          <form action="/user/logout" method="post"><button type="submit" class="login_navbar">Logout</button></form>
        </div>
        </div>
        
    </header>



  <nav class="sidebar">
    <header>
      <div class="image-text">
        <span class="image">
          <img src="#" alt="">
        </span>

        <div class="text logo-text">
          <span class="name">Alchemy</span>
          <span class="profession"><%= userName %></span>
        </div>
      </div>

      <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
      <div class="menu">

        <ul class="menu-links">
          <li class="nav-link">
            <a href="/user/profile">
              <i class='bx bx-home-alt icon'></i>
              <span class="text nav-text">Profile</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="/user/address">
              <i class='bx bx-map icon'></i>
              <span class="text nav-text">Manage Address</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="/user/wishlist">
              <i class='bx bx-heart icon'></i>
              <span class="text nav-text">My Wishlist</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="/user/order">
              <i class='bx bx-shopping-bag icon'></i>
              <span class="text nav-text">My orders</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="/user/wallet">
              <i class='bx bx-wallet icon'></i>
              <span class="text nav-text">Wallet</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="/user/coupon">
              <i class='bx bxs-coupon icon'></i>
              <span class="text nav-text">Coupon</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="/user/chat" style="background-color: #183D3D;">
              <i class='bx bxs-chat icon'></i>
              <span class="text nav-text">Chat</span>
            </a>
          </li>

        </ul>
      </div>
      
      </div>
    </div>

  </nav>

  <section class="home">

    <div class="container mainheading" >
      <div class="padding"></div>
      <div class="d-flex justify-content-center py-5 pb-0"><a href="/">Home</a>/Chat</div>
      <div class="text d-flex justify-content-center pb-5"> <h2 style="color: rgb(0, 0, 0);">Live Inquiry</h2></div>
    </div>
    
    
    <div class="container transaction mt-5">
      
      <h2 style="text-align: center; color: white; font-weight: 500;">Chat</h2>

        <div id="messages"></div>
        
    </div>

      <div class="form-container my-3">

        <form id="form" action="">
          <input id="input" autocomplete="off" placeholder="Message" />
          <button class="btn btn-dark">Send</button>
        </form>
      </div>
    
    
  </section>
  
  <!-- Bootsrtap script -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>    
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    const form = document.getElementById("form");
    const input = document.getElementById("input");
    const messages = document.getElementById("messages");
    let name = "<%= user.name %>";
   
    form.addEventListener("submit", (e) => {
      e.preventDefault();
      if (input.value) {
        socket.emit("chat-message", input.value);
        input.value = "";
      }
    });

    socket.emit("new-user",name);
    
    socket.on("chat-message", (data) => {
      const dataContainer = document.createElement('div');
      dataContainer.classList.add('row','mb-2','mx-4','message-style'); 
      const user = document.createElement("p");
      const item = document.createElement("p");
      item.textContent = data.msg;
      user.textContent=data.name;
      dataContainer.appendChild(user);
      dataContainer.appendChild(item);
      messages.appendChild(dataContainer)
      document.querySelector(".transaction").scrollTo(0, document.body.scrollHeight);
    });
  </script>
  
  <script>
    const body = document.querySelector('body'),
    sidebar = body.querySelector('nav'),
    toggle = body.querySelector(".toggle"),
    searchBtn = body.querySelector(".search-box"),
    modeSwitch = body.querySelector(".toggle-switch"),
    modeText = body.querySelector(".mode-text");
    toggle.addEventListener("click", () => {
      sidebar.classList.toggle("close");
    })
    searchBtn.addEventListener("click", () => {
      sidebar.classList.remove("close");
    })
    modeSwitch.addEventListener("click", () => {
      body.classList.toggle("dark");
      if (body.classList.contains("dark")) {
        modeText.innerText = "Light mode";
      } else {
        modeText.innerText = "Dark mode";
      }
    });
  </script>

</body>


</html>