<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <!-- Bootstrap link -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link href="/css/user/login.css" rel="stylesheet"/>
    <!-- Boxicon-icons  -->

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <style>
      input:-webkit-autofill,
      input:-webkit-autofill:hover, 
      input:-webkit-autofill:focus, 
      input:-webkit-autofill:active{
          -webkit-background-clip: text;
          -webkit-text-fill-color: #ffffff;
          transition: background-color 5000s ease-in-out 0s;
          box-shadow: inset 0 0 20px 20px #23232329;
      }
    </style>
  </head>
  <body>

    <div class="overlay">
      <span class="loader"></span>
    </div>
    
      
    <header class="header">

      <nav class="navbar">
        <a href="/">Home</a>
        <!-- <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Blog</a>
        <a href="#">Contact</a> -->
      </nav>
      <form action="#" class="search-bar">
        <input type="text" placeholder="Search...">
        <button type="submit"><box-icon name='search'><i class='bx bx-search'></i></button>
      </form>
        <!-- <a href="/user/login">Sign in</a> -->
      
    </header>

    <div class="background"></div>
    <div class="container">
      <div class="content">
        <h2 class="logo">Alchemy</h2>
        <div class="text-sci">
          <h2>Welcome!<br><span>To Alchemy</span></h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum velit libero eum omnis, iste distinctio tenetur soluta asperiores, enim eaque reprehenderit ipsum aut. Doloribus, quia quam autem perferendis ea qui.</p>
          <div class="social-icons">
            <a href="#"><i class='bx bxl-linkedin'></i></a>
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-instagram' ></i></a>
            <a href="#"><i class='bx bxl-twitter' ></i></a>
          </div>
        </div>
      </div>

        <div class="logreg-box">

          <div class="form-box login active">
            <form onsubmit="login(event)" id="loginform">

            <h2>Sign In</h2>

            <div class="errormessage_signin" style="background-color: white;"><p style="padding: 0"></p></div>

            <div class="input-box">
              <span class="icon"><i class='bx bx-envelope'></i></span>
              <input type="email" name="signin_email" id="signin_email" required>
              <label for="signin_email" class="input-label">Email</label>
            </div>

            <div class="input-box">
              <span class="icon"><i class='bx bxs-lock-alt'></i></span>
              <input type="password" name="signin_password" id="signin_password" required>
              <label for="signin_password" class="input-label">Password</label>
            </div>

            <div class="remember-forgot">
              <label><input type="checkbox">Remember me</label>
              <button class="forgot-link" type="button">Forgot password?</button>
            </div>

            <button type="submit" class="btn">Sign In</button>
            <h3>OR</h3>
            <a class="button google btn " href="/user/google">Sign In With Google<i class='bx bxl-google'></i></a>

            <div class="login-register">
              <p>Don't have an account? <button type="button" class="register-link">Sign up</button></p>
            </div>

            </form>

          </div>

          <div class="form-box register">
            <form onsubmit="signup(event)" id="registerform">

            <h2>Sign Up</h2>

              <div class="errormessage_signup" style="display: flex;background-color: white;"><p style="padding: 0;margin:0"></p></div>

            <div class="input-box">
              <span class="icon"><i class='bx bxs-user'></i></span>
              <input type="name" name="signup_name" id="signup_name" minlength="2" maxlength="50" required>
              <label for="signup_name" class="input-label">Name</label>
            </div>

            <div class="input-box">
              <span class="icon"><i class='bx bx-envelope'></i></span>
              <input type="email" name="signup_email" id="signup_email" required>
              <label for="signup_email" class="input-label">Email</label>
            </div>

            <div class="input-box">
              <span class="icon"><i class='bx bxs-lock-alt'></i></span>
              <input type="password" id="signup_password" name="signup_password" required>
              <label for="signup_password" class="input-label">Password</label>
            </div>

            <div class="input-box">
              <span class="icon"><i class='bx bxs-lock-alt'></i></span>
              <input type="password" id="signup_confirmpassword" name="signup_confirmpassword" required>
              <label for="signup_confirmpassword" class="input-label">Confirm Password</label>
            </div>

            <div class="input-box">
              <span class="icon"><i class='bx bx-barcode'></i></span>
              <input type="text" name="signup_referral" id="signup_referral" >
              <label for="signup_referral" class="input-label">Referral Code (If any)</label>
            </div>

            <button type="submit" class="btn otp-link">Sign Up</button>

            <div class="login-register">
              <p>Already have an account?<button type="button" class="login-link">Sign in</button></p>
            </div>

            </form>

          </div>

          <div class="form-box otp">
            <form onsubmit="otpfun(false)" id="otpform">

            <h2>Enter The Verification Code</h2>
            <h2>Sent To Your Email</h2>

            <div class="resend_otp_message" style="background-color: white;"><p style="padding: 0"></p></div>

            <div class="input-box">
              <span class="icon"><i class='bx bx-envelope'></i></span>
              <input type="text" name="otp" id="otp" required>
              <label for="otp" class="input-label">Verification Code</label>
            </div>

            <p class="timer-otp"></p>

            <button type="submit" class="btn">Verify</button>

            <div class="login-otp">
              <p>Don't get verification code? <button type="button" class="otp-link" onclick="otpfun(true)">Click Here</button></p>
            </div>

            </form>

          </div>

          <div class="form-box forgot_email">

            <form onsubmit="forgotemail(event)" id="forgotform-email">

            <h2>Enter Your Email</h2>

            <div class="forgot_email_message" style="background-color: white;"><p style="padding: 0;"></p></div>

            <div class="input-box">
              <span class="icon"><i class='bx bx-envelope'></i></span>
              <input type="email" name="email" id="forgot" required>
              <label for="forgot" class="input-label">Email</label>
            </div>

            <div class="remember-forgot">
              <button class="goback-link" type="button">Go back</button>
            </div>

            <button type="submit" class="btn">Verify</button>

            </form>

          </div>

          <div class="form-box forgot_otp">
            <form onsubmit="forgototp(event)" id="forgotform-otp">

              <h2>Enter The Verification Code</h2>
              <h2>Sent To Your Email</h2>

            <div class="forgot_otp_message" style="background-color: white;"><p style="padding: 0"></p></div>

            <div class="input-box">
              <span class="icon"><i class='bx bxs-lock-alt'></i></span>
              <input type="text" name="otp" id="forgot_otp" required>
              <label for="forgot_otp" class="input-label">Verification Code</label>
            </div>

            <p class="timer-forgot"></p>

            <button type="submit" class="btn">Submit</button>

            </form>

          </div>

          <div class="form-box forgot_password">
            <form onsubmit="forgotpassword(event)" id="forgotform-password">

            <h2>Enter Your New Password</h2>

            <div class="forgot_password_message" style="background-color: white;"><p style="padding: 0"></p></div>

            <div class="input-box">
              <span class="icon"><i class='bx bxs-lock-alt'></i></span>
              <input type="password" name="password" id="forgot_pass" required>
              <label for="forgot_pass" class="input-label">New Password</label>
            </div>

            <div class="input-box">
              <span class="icon"><i class='bx bxs-lock-alt'></i></span>
              <input type="password" name="confirmpassword" id="forgot_conpass" required>
              <label for="forgot_conpass" class="input-label">Confirm Password</label>
            </div>

            <button type="submit" class="btn">Submit</button>

            </form>

          </div>

        </div>
      
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>

    <script>
      let time=60;
      let timer;

      /* LOADER WHEN WINDOW LOADS BEGIN*/
      document.addEventListener("DOMContentLoaded", function() {
      let overlay = document.querySelector(".overlay");
      overlay.style.display = "flex"; 
        
      window.addEventListener("load", function() {
        overlay.style.display = "none"; 
      });
      });
      /* LOADER WHEN WINDOW LOADS END*/

      function signup(event){

        const loader=document.querySelector(".overlay");
        loader.style.display="flex"

        const errorMessage = document.querySelector('.errormessage_signup p');
        const registerform = document.getElementById('registerform');

        let regex = /^[a-zA-Z\s]*$/

        event.preventDefault()

        const form_data=new FormData(event.target)
        let json_form={}
        form_data.forEach((value,key)=>{
          json_form[key]=value
        });

        if(json_form.signup_confirmpassword!=json_form.signup_password){
          errorMessage.innerHTML="Password is not the same";
          loader.style.display="none"
          return setTimeout(()=>errorMessage.innerHTML="",5000)
        }else if(!regex.test(json_form.signup_name)){
          errorMessage.innerHTML="Name should not contain special characters";
          loader.style.display="none"
          return setTimeout(()=>errorMessage.innerHTML="",5000)
        }else if(json_form.signup_name.trim()===""){
          errorMessage.innerHTML="Enter Valid name";
          loader.style.display="none"
          return setTimeout(()=>errorMessage.innerHTML="",5000)
        }

        console.log(json_form)

        fetch("/user/signup",{
            method:"POST",
            headers:{
              "Content-Type":"application/json"
            },
            body:JSON.stringify({
              formdata:json_form
            })
          })
          .then(response=>{
            return response.json()
          })
          .then((data)=>{
            if(data.message==="Verification Code Send")
            {
              const customEvent=new CustomEvent("otp",{
                bubbles:true,
                cancelable:true
              })
              time=60;
              timer=setInterval(()=>{
                document.querySelector(".timer-otp").innerHTML=time--
                if(time<=0){
                  clearTimeout(timer)
                  time=60;
                  document.querySelector(".timer-otp").innerHTML=""
                }
              },1000)

              const targetElement=document.querySelector('.otp');
              targetElement.dispatchEvent(customEvent);
              loader.style.display="none"

            }else{
              errorMessage.innerHTML=data.message;
              setTimeout(()=>errorMessage.innerHTML="",3000)
              loader.style.display="none"
            }
          })
          .catch(err=>{
            errorMessage.innerHTML=data.message;
            setTimeout(()=>errorMessage.innerHTML="",3000)
            loader.style.display="none"
          })
      }

      function otpfun(action){

        const loader=document.querySelector(".overlay");
        loader.style.display="flex"
        
        const errorMessageLogin = document.querySelector('.errormessage_signin p');
        const errorMessageOtp=document.querySelector(".resend_otp_message p");
        const otpform = document.getElementById('otpform');
        const registerform = document.getElementById('registerform');

        event.preventDefault()

        const form_data=new FormData(otpform)
        let json_form={}
        form_data.forEach((value,key)=>{
          json_form[key]=value
        });

        fetch("/user/otp",{
            method:"POST",
            headers:{
              "Content-Type":"application/json"
            },
            body:JSON.stringify({
              action:action,
              formdata:json_form
            })
          })
          .then(response=>{
            if(response.ok)
            return response.json()
            else{
              throw new Error("Invalid OTP") 
            }

          })
          .then((data)=>{
            
            if(action){
              errorMessageOtp.innerHTML=data.message;
              setTimeout(()=>errorMessageOtp.innerHTML="",3000)
              clearTimeout(timer)
              time=60;
              timer=setInterval(()=>{document.querySelector(".timer-otp").innerHTML=time--;
              if(time<=0){
                clearInterval(timer)
                time=60;
                document.querySelector(".timer-otp").innerHTML="";
              }
              },1000)
            }else{
              document.querySelector('.otp').classList.remove("active");
              document.querySelector('.logreg-box .login').classList.add("active");
              registerform.reset();
              otpform.reset();
              clearInterval(timer)
              errorMessageLogin.innerHTML=data.message;
              setTimeout(()=>errorMessageLogin.innerHTML="",3000)
            }
            loader.style.display="none";
            
          })
          .catch((err)=>{
            errorMessageOtp.innerHTML=err.message;
            setTimeout(()=>errorMessageOtp.innerHTML="",3000)
            loader.style.display="none";
          })
      }

      function login(event){

        const errorMessageLogin = document.querySelector('.errormessage_signin p');

        event.preventDefault()

        const form_data=new FormData(event.target)
        let json_form={}
        form_data.forEach((value,key)=>{
          json_form[key]=value
        });
        
          fetch("/user/login",{
            method:"POST",
            headers:{
              "Content-Type":"application/json"
            },
            body:JSON.stringify(json_form)
          })
          .then(response=>{
            if(response.ok){
              window.location.href="/"
            }
            else{
              return response.json().then(data => {
              throw new Error(data.message || "Login failed. Please try again."); // Default message if no specific message from server
            });
            }
          })
          .catch(err=>{
            errorMessageLogin.innerHTML=err.message
            setTimeout(()=>errorMessageLogin.innerHTML="",3000)
          })
      }

      function forgotemail(event){
        event.preventDefault()

        const loader=document.querySelector(".overlay");
        loader.style.display="flex";
        const errorMessage = document.querySelector('.forgot_email_message p');
        const form_data=new FormData(event.target)
        let json_form={}
        form_data.forEach((value,key)=>{
          json_form[key]=value
        });

        fetch("/user/forgot_email",{
            method:"POST",
            headers:{
              "Content-Type":"application/json"
            },
            body:JSON.stringify(json_form)
          })
          .then(response=>response.json())
          .then((data)=>{
            if(data.error){
              errorMessage.innerHTML=data.error;
            setTimeout(()=>errorMessage.innerHTML="",3000)
            loader.style.display="none"
            }else{
              const customEvent=new CustomEvent("forgotemail",{
                bubbles:true,
                cancelable:true
              })
              const targetElement=document.querySelector('.forgot_email');
              targetElement.dispatchEvent(customEvent);
              loader.style.display="none"

            }
          })
          .catch(err=>{
            errorMessage.innerHTML=err.message;
            setTimeout(()=>errorMessage.innerHTML="",3000)
            loader.style.display="none"
          })

      }

      function forgotpassword(event){

        const loader=document.querySelector(".overlay");
        loader.style.display="flex";

        const errorMessage = document.querySelector('.forgot_password_message p');
        const errorMessageOtp = document.querySelector('.forgot_otp_message p');
        

        event.preventDefault()

        const form_data=new FormData(event.target)
        let json_form={}
        form_data.forEach((value,key)=>{
          json_form[key]=value
        });

        fetch("/user/forgot_password",{
            method:"POST",
            headers:{
              "Content-Type":"application/json"
            },
            body:JSON.stringify(json_form)
          })
          .then(response=>response.json())
          .then((data)=>{
            if(data.error){
              errorMessage.innerHTML=data.error;
            setTimeout(()=>errorMessage.innerHTML="",3000)
            loader.style.display="none"
            }else{
              const customEvent=new CustomEvent("forgotpassword",{
                bubbles:true,
                cancelable:true
              })
              const targetElement=document.querySelector('.forgot_password');
              targetElement.dispatchEvent(customEvent);
              loader.style.display="none";
              errorMessageOtp .innerHTML=data.message
              setTimeout(()=>errorMessageOtp .innerHTML="",3000)
            }
          })
          .catch(err=>{
            errorMessage.innerHTML=err.message;
            setTimeout(()=>errorMessage.innerHTML="",3000)
            loader.style.display="none"
          })
          loader.style.display="none"
      }

      function forgototp(event){

        const loader=document.querySelector(".overlay");
        loader.style.display="flex";

        const errorMessage = document.querySelector('.forgot_otp_message p');
        const errorMessageLogin = document.querySelector('.errormessage_signin p');

        event.preventDefault()

        const form_data=new FormData(event.target)
        let json_form={}
        form_data.forEach((value,key)=>{
          json_form[key]=value
        });

        fetch("/user/forgot_otp",{
            method:"POST",
            headers:{
              "Content-Type":"application/json"
            },
            body:JSON.stringify(json_form)
          })
          .then(response=>response.json())
          .then((data)=>{
            if(data.error){
              errorMessage.innerHTML=data.error;
            setTimeout(()=>errorMessage.innerHTML="",3000)
            loader.style.display="none"
            }else{
              const customEvent=new CustomEvent("forgototp",{
                bubbles:true,
                cancelable:true
              })
              const targetElement=document.querySelector('.forgot_otp');
              targetElement.dispatchEvent(customEvent);
              loader.style.display="none";
              errorMessageLogin.innerHTML=data.message
              setTimeout(()=>errorMessageLogin.innerHTML="",3000)
            }
          })
          .catch(err=>{
            errorMessage.innerHTML=err.message;
            setTimeout(()=>errorMessage.innerHTML="",3000)
            loader.style.display="none"
          })
      }

    </script>  
    <script src="/js/user/login.js"></script>
  </body>
</html>