.mainheading{
    background-image: url('/images/user/profile-background.jpg');
    background-size: cover;
    background-position: center;
  }
  .padding{
    height: 1rem;
  }
  .content{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content div{
    box-shadow: inset 0 0 10px rgb(255, 255, 255);
    background-color: #b7472a ;
    padding: 3rem;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .content div p{
    font-size: 2rem;
  }
  .invalid-feedback {
        display: none;
  }
  .is-invalid + .invalid-feedback {
        display: block;
  }
  .bx.bx-chevron-right.toggle {
  display: none;
  }
  .transaction{
    width: 60%;
    max-height: 60vh;
    overflow-y: auto;
    box-shadow: inset 0 0 10px rgb(255, 255, 255);
    border-radius: 5px;
  }
  .transaction h2{
    margin: 30px 0;
  }
  ::-webkit-scrollbar-track {
  background-color: #000000; /* Color of the scrollbar track */
  }
  ::-webkit-scrollbar {
      width: 10px; /* Width of the scrollbar */
  }
  ::-webkit-scrollbar-thumb {
      background-color: #494747; /* Color of the scrollbar thumb */
      border-radius: 6px; /* Rounded corners of the scrollbar thumb */
  }

  @media screen and (max-width: 600px) {
    .bx.bx-chevron-right.toggle {
    display: block;
    }
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
      -webkit-background-clip: text;
      -webkit-text-fill-color: #ffffff;
      transition: background-color 5000s ease-in-out 0s;
      box-shadow: inset 0 0 20px 20px #23232329;
  }